<script src="~/Scripts/custom/User.js"></script>

<section class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <p class="tbl-title">
                    Seller List
                </p>
            </div>

        </div>
    </div>
</section>

<section class="row">
    <div class="container-fluid">
        <div class="col-lg-12 table-responsive  mb-5">
            <table id="SellerDT" class="display" style="width:100%"></table>
        </div>
    </div>
</section>




