@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/aos.css" rel="stylesheet" />
<script src="~/Scripts/aos.js"></script>


<section class="testimonial-section2">

    <div id="testim" class="testim">
        <div class="wrap">
            <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
            <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
            <ul id="testim-dots" class="dots">
                <li class="dot active"></li>

                <li class="dot"></li>

                <li class="dot"></li>

                <li class="dot"></li>

                <li class="dot"></li>
            </ul>
            <div id="testim-content" class="cont">
                <div class="active">
                    <div class="h4">Main Features/Benifits</div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="h4">Main Features/Benifits</div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="h4">Main Features/Benifits</div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="h4">Main Features/Benifits</div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="h4">Main Features/Benifits</div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="section-padding main-features-benifits">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h5 class="section-header" data-aos="fade-up" data-aos-duration="1000">Main Features/Benifits</h5>
            </div>
            <div class="col col-lg-7 text-center" data-aos="fade-up" data-aos-duration="1000">
                <p class="section-header-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown.</p>
            </div>
        </div>

        <div class="main-features row">
            <div class="col-lg-4 col-sm-12 mt-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="media">
                    <i class="fa fa-check mr-3" aria-hidden="true"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Product Supply</h5>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mt-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="media">
                    <i class="fa fa-check mr-3" aria-hidden="true"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Inventory & Price Sync</h5>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mt-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="media">
                    <i class="fa fa-check mr-3" aria-hidden="true"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Order Processing</h5>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/popper.min.js"></script>
<script type="text/javascript" src="~/Scripts/custom/home.js"></script>