
@model DropshipPlatform.Entity.membershiptype
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="~/Content/custom/SubscriptionGlobal.css" rel="stylesheet" />
    <link href="~/Content/custom/subscription.css" rel="stylesheet" />

}

@*<h4>Subscription</h4>*@
<div class="sr-root">
    <div class="sr-main">
        <div class="sr-payment-summary payment-view">
            <h1 class="order-amount">@Model.Price</h1>
            <h4>Subscribe to the @Model.Name plan</h4>
        </div>
        <form>
            <div class="sr-payment-form payment-view">
                <div class="sr-form-row">
                    <label for="card-element">
                        Payment details
                    </label>
                    <div class="sr-combo-inputs">
                        <div class="sr-combo-inputs-row">
                            <input type="text"
                                   id="email"
                                   placeholder="Email"
                                   autocomplete="cardholder"
                                   class="sr-input" />
                        </div>
                        <div class="sr-combo-inputs-row">
                            <div class="sr-input sr-card-element" id="card-element"></div>
                        </div>
                    </div>
                    <div class="sr-field-error" id="card-errors" role="alert"></div>
                </div>
                <button id="submit">
                    <div id="spinner" class="hidden"></div>
                    <span id="button-text">Subscribe</span>
                </button>
                <div class="sr-legal-text">
                    Your card will be immediately charged
                    <span class="order-total">@Model.Price</span>.
                </div>
            </div>
        </form>
        <div class="sr-payment-summary hidden completed-view">
            <h1>Your subscription <b class="order-status pull-right"></b></h1>
            <h4>
                <a>View subscription response:</a>
            </h4>
            <label id="code"></label>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="~/Scripts/custom/Subscription.js"></script>