div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0px;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box
}

.clear {
    clear: both
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.fill_height {
    height: 100%
}

.top_bar {
    width: 100%;
    height: 56px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    z-index: 2
}

.top_bar_contact_item {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px
}

.top_bar_contact_item:not(:first-child) {
    margin-right: 0px
}

.top_bar_contact_item a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.top_bar_contact_item a:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.top_bar_contact_item:last-child {
    margin-right: 0px
}

.top_bar_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px)
}

.top_bar_menu {
    display: inline-block
}

.top_bar_dropdown li {
    padding-left: 13px;
    padding-right: 13px
}

.top_bar_user {
    display: inline-block;
    margin-left: 35px
}

.user_icon {
    display: inline-block;
    margin-right: 7px;
    width: 15px
}

.user_icon img {
    width: 100%
}

.top_bar_user div {
    display: inline-block
}

.top_bar_user div:nth-child(2) {
    margin-right: 21px
}

.top_bar_user div:nth-child(2)::after {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -13px;
    width: 1px;
    height: 17px;
    background: rgba(0, 0, 0, 0.1);
    content: ''
}

.top_bar_user a {
    line-height: 56px;
    color: #000;
}

.top_bar_user a:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.header_main {
    z-index: 1
}

.header.scrolled .header_main {
    display: none
}

.header_main_item {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.logo_container {
    height: 80px
}

.logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.logo a {
    font-size: 36px;
    font-weight: 500;
    color: #0e8ce4
}


/* .header_search {
    height: 90px
} */

.header_search_content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.header_search_form_container {
    width: 100%;
    height: 40px;
    border: solid 1px #e5e5e5;
    border-radius: 5px
}

.header_search_form {
    width: 100%;
    height: 100%
}

.header_search_input {
    display: block;
    position: relative;
    width: calc((100% + 57%) * 0.601);
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: #7f7f7f;
    float: left
}

.header_search_input::-webkit-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input:-moz-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input::-moz-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input:-ms-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input::input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.search-icon {
    color: #fff;
    font-size: 20px;
}

select:hover {
    cursor: pointer
}

select option {
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none
}

.header_search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.header_search_button:hover {
    background-color: #757575;
}

.wishlist_cart {
    height: 90px
}

.cart_count {
    position: absolute;
    bottom: -1px;
    right: -14px;
    width: 23px;
    height: 23px;
    background: #8e8e8e;
    border-radius: 50%;
    text-align: center
}

.cart_count span {
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #FFFFFF;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px)
}

.cart_icon img {
    width: 100%
}

.cart_content {
    margin-left: 28px
}

.cart_text a {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.cart_text a:hover {
    color: #000000;
    text-decoration: none;
}

.cart_price {
    font-size: 14px;
    color: #a3a3a3;
    margin-top: -2px
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important
    }
}

@media only screen and (max-width: 991px) {
    .header_search {
        height: 50px
    }
    .logo_container,
    .wishlist_cart {
        height: 5rem;
    }
    .top_bar {
        height: 40px
    }
    .top_bar_contact_item {
        font-size: 12px;
        margin-right: 20px;
        line-height: 40px
    }
    .top_bar_contact_item a {
        font-size: 12px;
        line-height: 40px
    }
    .top_bar_icon {
        margin-right: 4px
    }
    .top_bar_icon img {
        width: 70%
    }
    .top_bar_menu {
        display: none
    }
    .top_bar_user a {
        font-size: 12px;
        line-height: 40px
    }
    .user_icon {
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
        width: 12px
    }
}

@media only screen and (max-width: 767px) {
    .header_search {
        display: none
    }
    .page_menu_search {
        display: block
    }
    .main_nav {
        margin-top: 0px
    }
}

@media only screen and (max-width: 575px) {
    .top_bar {
        display: none
    }
    .logo_container,
    .wishlist_cart {
        height: 72px
    }
    .cat_burger {
        width: 16px;
        height: 12px
    }
    .cat_burger span:nth-child(2) {
        top: 5px
    }
    .cat_burger span:nth-child(3) {
        top: 10px
    }
    .menu_trigger_text {
        font-size: 13px;
        margin-right: 10px
    }
    .wishlist {
        margin-right: 23px
    }
    .wishlist_content {
        margin-left: 6px
    }
    .wishlist_text {
        display: none
    }
    .cart_text {
        display: none
    }
    .wishlist_text a,
    .cart_text a {
        font-size: 14px
    }
    .wishlist_count,
    .cart_price {
        font-size: 12px
    }
    .wishlist_icon {
        width: 20px
    }
    .cart_content {
        margin-left: 18px
    }
    .cart_icon {
        width: 17px
    }
    .cart_count {
        width: 21px;
        height: 21px
    }
    .cart_count span {
        line-height: 21px
    }
    .top_bar_user {
        margin-left: 0px
    }
    .header_search {
        display: none
    }
}


/*
*
* ==========================================
* Main Heder Menu
* ==========================================
*
*/

.navbar-nav .dropdown .dropdown-menu li a {
    color: #000000 !important;
}

.navbar-nav .dropdown .dropdown-menu li a:hover {
    color: black !important;
    background-color: #e4e4e4 !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.dropdown-item {
    padding: 5px 10px;
}

@media (min-width: 991px) {
    .dropdown-menu {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.portlet-light {
    box-shadow: 3px 3px 9px 0px #d6d6d6;
    border: 1px solid #efefef;
    padding: 15px 10px 10px 10px;
}

.tbl-title {
    background-color: #f1f1f1;
    padding: 15px 10px;
    font-size: 17px;
    font-weight: 600;
}

.tbl-title span {
    color: #676767;
    font-size: 20px;
    font-weight: 400;
}

table.dataTable thead th,
table.dataTable thead td {
    text-align: left;
    padding: 10px 10px !important;
    border-bottom: 1px solid #dadada !important;
    border-top: 1px solid #dadada;
}

.dataTable th {
    background-color: #f1f1f1;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 600 !important;
    font-size: 14px;
}

.dataTables_length {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dadada !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background: linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 100%) !important;
    border: 1px solid #e0e0e0 !important;
}

.dataTables_filter {
    display: none !important;
}

.payment-paid {
    color: #4caf50;
}

.payment-unpaid {
    color: #ff0000;
}

.disclaimer-box {
    background-color: #f1f1f1;
    padding: 20px;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}