.dataTables_filter {
    display: block !important;
}

td input[type=text].tracking {
    width: auto;
    float: left;
    margin-right: 5px;
    width: 125px;
    margin-top: 5px;
}

td a.RefundOrder {
    margin-top: 5px;
    margin-left:5px;
}

td a.shipOrder {
    margin-top: 5px;
}
