

@{
    ViewBag.Title = "Pickup Product";
    <link href="~/Content/custom/my-product.css" rel="stylesheet" />
    <link href="~/Content/custom/product-management.css" rel="stylesheet" />

    <script src="~/Scripts/custom/PickupProducts.js"></script>
}



<section class="mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <label for="exampleFormControlSelect1">Product Category</label>
                @if (ViewBag.AliCategory != null)
                {
                    @Html.DropDownList("ddlProductCat", new SelectList(ViewBag.AliCategory, "CategoryID", "Name"), "All", new { @class = "selectpicker form-control", @title = "Product Category", @data_live_search = "true" })
                }
                else
                {
                    @Html.DropDownList("ddlProductCat", new List<SelectListItem> { new SelectListItem { Text = "", Value = "" }, }, new { @class = "selectpicker form-control" })
                }
            </div>
            <div class="col-lg-4">
                <label for="">Filter By</label>
                <select class="selectpicker form-control" title="Select" id="ddlPickupFilter">
                    <option value="0">All</option>
                    <option value="1">Picked products</option>
                    <option value="2">Unpicked products</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="exampleFormControlSelect1">Bulk Actions</label>
                <select class="selectpicker form-control" title="Select" id="ddlProductBulkAction">
                    <option value="1">Pick selected products</option>
                </select>
            </div>
        </div>
    </div>
</section>

<section class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 table-responsive  mb-5">
                <table id="ProductsDt" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Product Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Cost (USD)</th>
                            <th scope="col">Inventory</th>
                            <th scope="col">Shipping Weight (KG)</th>
                            <th scope="col">Your Price</th>
                            <th scope="col">
                                <label class="rememberme mt-checkbox">
                                    <input type="checkbox" id="chkAllProduct" name="remember" value="0">
                                    <span></span>&nbsp;Check All
                                </label>
                            </th>
                            <th scope="col">Pick All</th>
                            <th scope="col">Product Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</section>